<div class="wrapper">

  <!-- Início do header -->
  <mt-header></mt-header>
  <!-- Fim do header -->

  <!-- Full Width Column -->
  <div class="content-wrapper" style="background-color: rgba(192, 192, 192,0.1);">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui -->

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right">
    <a href="https://www.facebook.com/eatrev"><i class="fa fa-facebook-square" style="font-size:20px;color:#FF9D00;"></i></a>
      </div>
      <strong>&copy;&nbsp;Eatrev 2018</strong> Food Delivery Service
    </div>
  </footer>
</div>
